/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container{
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}
/* Container */
.table {
    max-width: 1000px;
    width: 100%;
    /* background-color: #ffffff; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    word-break: break-all;

}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}
.row:nth-child(even){
    background-color: #e9e7e717;
}
.date{
    width:max-content;
    margin-right: 5%;
}
.subject{
    width: calc(100% - 200px);
}

/* Last Row Styling */
.row:last-child {
    border-bottom: none;
}

/* Note Section */
.note {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    padding: 15px;
}
